<%- include('share/home_nav.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <link rel="stylesheet" href="/css/myHomeStyle.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <form class="form grid">
        <!-- 左邊標  -->
        <div id="allthing">
            <div id="intitle">
                <ul>
                    <li class="memberspace">
                        <h1>會員專區</h1>
                    </li>
                    <br />
                    <li class="memberfile">
                        <h4><a href="/accountinfo" id="a1">修改個人資料</a></h4>
                    </li>
                    <br />
                    <li class="boughtfile">
                        <h4><a href="/shoppingCart" id="a2">訂單資訊</a></h4>
                    </li>
                    <br />
                    <li class="record">
                        <h4><a href="/logging" id="a3">參團紀錄</a></h4>
                    </li>
                    <br />
                    <li class="collect">
                        <h4><a href="/logging" id="a4">收藏</a></h4>
                    </li>
                    <br />
                    <li class="logout">
                        <h4><a href="/login" id="a5">登入</a></h4>
                    </li>
                </ul>
            </div>
        </div>

    </form>
    <%- include('share/home_footer.ejs') %>