<!-- 模板 -->
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/css/account.css">
     <title>Document</title>
</head>
<body>
     

    <form class="form grid">
        <!-- 左邊標  -->
        <div id="allthing">
            <div id="intitle">
                <ul>
                    <li class="memberspace">
                        <h1><a href="">會員專區</a></h1>
                    </li>
                    <br />
                    <li class="memberfile">
                        <h3><a href="/accountinfo">修改個人資料</a></h3>
                    </li>
                    <br />
                    <li class="boughtfile">
                        <h3><a href="/shoppingCart">訂單資訊</a></h3>
                    </li>
                    <br />
                    <li class="record">
                        <h3><a href="/logging">參團紀錄</a></h3>
                    </li>
                    <br />
                    <li class="collect">
                        <h3><a href="">收藏</a></h3>
                    </li>
                    <br />
                    <li class="logout">
                        <h3><a href="#" id="logout-link" class="btnlogout">登出</a></h3>
                    </li>
                </ul>
            </div>
        </div>


        <footer>
            <div id="footerdown">
                <div id="footerdown1">
                    <ul>
                        <li><a href="">行程方案</a></li>
                        <br>
                        <li><a href="">最新消息</a></li>
                        <br>
                        <li><a href="">聯絡我們</a></li>
                        <br>
                        <li><a href="">旅遊注意</a></li>
                        <br>
                        <li><a href="">會員專區</a></li>
                    </ul>
                </div>
                <div id="footerdown1">
                    <ul>
                        <br><br>
                        <li><a href="#">行程比較</a></li>
                        <br>
                        <li><a href="#">法規</a></li>
                        <!-- <li><a href="#"></a></li> -->
                        <br>
                        <li><a href="#">旅遊資訊</a></li>
                        <br>
                        <li><a href="#">會員專區</a></li>
                        <br><br>
                    </ul>
                </div>
                <div id="footerdown1">
                    <img src="/img/logo_foot.png" alt="">
                    <ul>
                        <li>電話：04-2355678</li>
                        <br>
                        <li>地址：404台中市北區英才路126號1樓</li>
                    </ul>
                </div>

            </div>
        </footer>

    </form>

    <script src="/js/logout.js"></script>
</body>
</html>
