<!-- 模板 -->
<%- include('home_nav.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/account.css">

<form class="form grid">
    <!-- 左邊標  -->
    <div id="allthing">
        <div id="intitle">
            <ul>
                <li class="memberspace">
                    <h1><a href="">會員專區</a></h1>
                </li>
                <br />
                <li class="memberfile">
                    <h3><a href="/accountinfo">修改個人資料</a></h3>
                </li>
                <br />
                <li class="boughtfile">
                    <h3><a href="">訂單資訊</a></h3>
                </li>
                <br />
                <li class="record">
                    <h3><a href="">參團紀錄</a></h3>
                </li>
                <br />
                <li class="collect">
                    <h3><a href="">收藏</a></h3>
                </li>
                <br />
                <li class="logout">
                    <h3><a href="#" id="logout-link" class="btnlogout">登出</a></h3>
                </li>
            </ul>
        </div>
    </div>


    <footer>
        <div id="footerdown">
            <div id="footerdown1">
                <ul>
                    <li><a href="">行程方案</a></li>
                    <br>
                    <li><a href="">最新消息</a></li>
                    <br>
                    <li><a href="">聯絡我們</a></li>
                    <br>
                    <li><a href="">旅遊注意</a></li>
                    <br>
                    <li><a href="">會員專區</a></li>
                </ul>
            </div>
            <div id="footerdown1">
                <ul>
                    <li><a href="">行程方案</a></li>
                    <br>
                    <li><a href="">最新消息</a></li>
                    <br>
                    <li><a href="">聯絡我們</a></li>
                    <br>
                    <li><a href="">旅遊注意</a></li>
                    <br>
                    <li><a href="">會員專區</a></li>
                    <br><br>
                </ul>
            </div>

        </div>
    </footer>

</form>

<script src="/js/logout.js"></script>