<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/myBackStyle.css">
     <title>Document</title>
</head>
<body>
     <header class="d-flex justify-content-start">
          <div>
               <%- include('share/back_nav.ejs')%> 
          </div>
          <div class="backBlock"></div>
          <div>
               <h2>訂單管理</h2>
               <table class="backtable">
                    <tr class="bg-info">
                         <th class="backCol">行程</th>
                         <th class="backCol">人數</th>
                         <th class="backCol">日期</th>
                         <th class="backCol">狀態</th>
                         <th></th>
                    </tr>
                    <tr>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td><button>檢視</button></td>
                    </tr>
               </table>
          </div>
     </header>

     
</body>
</html>