<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/myHomeStyle.css">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <script src="/js/jquery-3.6.0.js"></script>
     <title>Document</title>
</head>

<body>
     <%- include('share/home_nav.ejs')%>
          <div style="width: 100%; height:70px"></div>
          <div class="container">
               <div style="text-align: center;">
                    <h1 class="titleStyle mt-5">聯絡我們</h1>
               </div>
               <div style="width:80%;">

                    <form action="">
                         <label for="name">您的姓名</label><br>
                         <input id="name" type="text"><br>
                         <label for="">您的信箱</label><br>
                         <input id="" type="text"><br>
                         <label for="">您的電話</label><br>
                         <input id="" type="text"><br>
                         <label for="">方便聯繫的時段</label><br>
                         <select name="" id="">
                              <option value="">9:00~12:00</option>
                              <option value="">12:00~15:00</option>
                              <option value="">15:00~18:00</option>
                              <option value="">不方便接電話，請以mail聯繫</option>
                         </select><br>
                         <hr>
                         <label for="">行程規劃</label><br>
                         <div class="dragSpace">
                              <button>關東地區</button>
                              <button>關西地區</button>
                              <button>中部地區</button>
                              <button>四國地區</button>
                              <button>中國地區</button>
                              <button>九州地區</button>
                              <button>東北地區</button>
                         </div>
                         <div class="dropSpace"></div><br>
                         <hr>
                         <label for="">人數</label><br>
                         <select name="" id="">
                              <option value="">1~2位</option>
                              <option value="">3~5位</option>
                              <option value="">6~10位</option>
                              <option value="">10~20位</option>
                         </select><br>
                         <label for="">預計出發日期</label><br>
                         <input id="" type="text"><br>
                         <label for="">旅行天數</label><br>
                         <input id="" type="text"><br>
                         <label for="">行程預算</label><br>
                         <input id="" type="text"><br>
                         <label for="">需求</label><br>
                         <input id="" type="text"><br>
                         <input type="submit">
                         
                         
                         



                    </form>

               </div>

          </div>
          <div style="width: 100%; height:70px"></div>
          <%- include('share/home_footer.ejs')%>
</body>

</html>