<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/myHomeStyle.css">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <script src="/js/jquery-3.6.0.js"></script>
     <title>Document</title>
     <style>
          input[type="text"]{
               width: 300px;
          }
          form>label{
               margin-top: 20px;
          }
          form>label::after{
               content: "*";
               color: red;
          }
     </style>
</head>

<body>
     <%- include('share/home_nav.ejs')%>
          <div style="width: 100%; height:70px"></div>
          <div>
               <div style="text-align: center;">
                    <h1 class="titleStyle mt-5">聯絡表單</h1>
               </div>
               <div style="width:70%; margin-left: 20%;">

                    <form action="">
                         <label for="name">您的姓名</label><br>
                         <input id="name" type="text" required><br>
                         <div style="margin-top: 20px;">
                              <input name="sex" type="radio" value="男" id="male" required>
                              <label for="male">先生</label>

                              <input name="sex" type="radio" value="女" id="female" required>
                              <label for="female">小姐</label><br>
                         </div>

                         <label for="email">您的信箱</label><br>
                         <input id="email" type="text" required><br>
                         <label for="phone">您的電話</label><br>
                         <input id="phone" type="text" required><br>
                         <label for="time">方便聯繫的時段</label><br>
                         <select name="time" id="time" required>
                              <option value="">請選擇時段</option>
                              <option value="9:00~12:00">9:00~12:00</option>
                              <option value="12:00~15:00">12:00~15:00</option>
                              <option value="15:00~18:00">15:00~18:00</option>
                              <option value="不方便接電話，請以mail聯繫">不方便接電話，請以mail聯繫</option>
                         </select><br>
                         <hr>
                         <label for="area">聯絡需求</label><br>
                         <select name="purpose" id="purpose" required>
                              <option value="">請選擇</option>
                              <option value="詢問行程">詢問行程</option>
                              <option value="客製行程">客製行程</option>
                              <option value="工商合作">工商合作</option>
                              <option value="其他">其他</option>
                         </select><hr>
                         
                         <label for="subject">主旨</label><br>
                         <input id="subject" type="text" required><br>
                         <label for="demand">需求</label><br>
                         <textarea name="demand" id="demand" cols="30" rows="10" required></textarea>
                         <br>



                    </form>
                    <button class="btn" id="contact" style="background-color: #83C9D2; margin-top: 20px;">提交</button>
                    <script>
                         $('#contact').on('click', function () {
                              var contact = {
                                   name: $('#name').val(),
                                   sex:$('input[name="sex"]:checked').val(),
                                   email: $('#email').val(),
                                   phone: $('#phone').val(),
                                   time: $('#time').val(),
                                   purpose: $('#purpose').val(),
                                   subject: $('#subject').val(),
                                   demand: $('#demand').val()
                              }

                              console.log(`${name};${email};${phone};${time}`)
                              $.ajax({
                                   type: "post",
                                   url: "/background/contactInsert",
                                   data: contact,
                                   success: function (e) {
                                        alert(e);
                                        window.location.assign(window.location.href);
                                   }
                              })

                         })
                    </script>

               </div>

          </div>
          <div style="width: 100%; height:70px"></div>

          
          <%- include('share/home_footer.ejs')%>

          <button class="GoTop" id="GoTop">
               <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-bar-up"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
               </svg>
          </button>
          <script>
               var GoTop = document.getElementById('GoTop');
     
               GoTop.addEventListener('click', () => {
                    window.scrollTo({
                         top: 0,
                         behavior: 'smooth'  // 使用平滑滾動
                    });
               });
          </script>
</body>

</html>