<link rel="stylesheet" type="text/css" href="/css/myHomeStyle.css">
<nav>
     <div class="logo"></div>
     <span>
          <a href="#" class="nav_a">地區</a>
          <a href="#" class="nav_a">主題方案</a>
          <a href="#" class="nav_a">最新消息</a>
          <a href="#" class="nav_a">聯絡我們</a>
          <a href="#" class="nav_a">旅遊資訊</a>
          <a href="#" class="nav_a">會員</a>
     </span>
</nav>