<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/myHomeStyle.css">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <script src="/js/jquery-3.6.0.js"></script>
     <title>Home page</title>
</head>

<body>
     <%- include('share/home_nav.ejs')%>
          <div class="space">
               <!-- <div class="garyZone"></div> -->
               <div class="search_space">
                    <div class="row">
                         <div class="col-9">
                              <form class="searchForm" action="">
                                   <span class="searchFont">搜尋</span>
                                   <span class="searchFont">SERACH</span>
                                   <div class="searchFormA">
                                        <span class="searchFontA">台灣</span>
                                        <select name="" id="" class="searchSelect">
                                             <option value="">東京</option>
                                             <option value="">大阪</option>
                                             <option value="">名古屋</option>
                                             <option value="">京都</option>
                                             <option value="">北海道</option>
                                        </select>
                                   </div>
                                   <span class="searchFontB">時間區間</span>
                                   <input type="date" class="searchDate"><span class="searchFontc">~</span>
                                   <input type="date" class="searchDate">
                                   </form>
                                   </div>
                                   <div class="col-3">
                                        <button class="searchBtn">
                                             <span>SEARCH</span>
                                             <p>搜尋</p>

                              </button>
                              </div>
                              </div>



               </div>
               <div class="sky"></div>
               <div class="cloud"></div>
               <div class="airWindow"></div>
               <div class="topContent">
                    <div class="search">
                         <button id="search">想去哪裡</button>
                         <img class="icon_air" src="/img/airplane_1.svg" alt="">
                    </div>
                    <div class="title_top">
                         <div>Enjoy</div>
                         <div>Travel</div>
                         <div>To Japan</div>
                    </div>
                    <div>起程</div>
                    <img class="arrows" src="/img/twoarrow.png" alt="">
               </div>

               <script>
                    $('.search_space').hide();
                    $('body').on('click', function (e) {
                         console.log(e);
                         var container = $('.search_space');
                         var searchBtn = $('#search');
                         if (!container.is(e.target) && !container.has(e.target).length &&
                              !searchBtn.is(e.target) && !searchBtn.has(e.target).length) {
                              container.hide();
                         }


                    })
                         $('#search').on('click', function () {
                              // console.log('btnok');
                              $('.search_space').toggle();

                         })
                         </script>



          </div>
          <!-- ----------------------------最新消息------------------------------ -->
          <div class="space">
               <div class="place_center">
                    <h2 class="titleStyle mt-5">最新消息</h2>
                    <div class="newsMarquee">字報</div>
                    <div>
                         <% for(var i=0;i < 3; i++){ %>
                              <div class="newsText">
                                   <div><img class="circleImg" src="<%= data[i].img %>"></div>
                                   <h4 class="overText">
                                        <%= data[i].title %>
                                   </h4>
                                   <p class="overText">
                                        <%= data[i].contents %>
                                   </p>
                                   <button class="BtnStyle"><span class="btnHover">go</span><span class="btnstop">了解更多</span></button>
                                   </div>
                                   <% } %>
                                        </div>
                                        </div>
                                        </div>
                                        <script>
                                             $('.newsText>button').each(function (index, elm) {
                                                  $(elm).prop('id', 'newsBtn' + index);
                                             })
                                             $("#newsBtn0").on('click', function () {
                                                  alert('ok');
                                             })
                                        </script>

          <!-- ---------------------------熱門景點------------------------------ -->

          <div class="space">
               <div class="place_center">
                    <h2 class="titleStyle">熱門景點</h2>
                    <div class="ticket">
                         <div class="row ">
                              <div class="col-1">
                                   <div style="width: 51px; height: 285px; background-color:#83C9D2;"></div>
                              </div>
                              <div class="col-4">
                                   <h3>東京</h3>
                                   <h3>TICKET</h3>
                                   <h3>五天四夜</h3>
                                   <h3>56000</h3>
                                   <small>起</small>
                              </div>
                              <div class="col-7 bg-warning">
                                   <img src="" alt="">
                              </div>
                         </div>
                    </div>
                    <hr>
                    <div class="ticket">
                         <div class="row ">
                              <div class="col-1">
                                   <div style="width: 51px; height: 250px; background-color:#83C9D2;"></div>
                              </div>
                              <div class="col-4">
                                   <h3>東京</h3>
                                   <h3>TICKET</h3>
                                   <h3>五天四夜</h3>
                                   <h3>56000</h3>
                                   <small>起</small>
                              </div>
                              <div class="col-7 bg-warning">
                                   <img src="" alt="">
                              </div>
                         </div>
                    </div>
                    </div>

          </div>
          <!-- ---------------------------------------------------------- -->

          <div class="space">
               <img src="/img/fujiyama.png" alt="">
          </div>

          <!-- ----------------------------關於我們------------------------------ -->

          <div class="space">
               <div class="row">
                    <div class="col-6">
                         <img class="about_img_a" src="/img/wall.jpg" alt="about">
                         <img class="about_img_b" src="/img/sakura.jpg" alt="about">
                         </div>
                         <div class="col-6">
                         <div>
                              <div class="aboutText">
                                   <h2 class="titleStyle">關於我們</h2>
                                   <div class="mt-5">
                                        <p>專門為小型團體特別製作行程，</p>
                                        <p>注重於品質而不是價格，</p>
                                        <p>讓每位參與的旅客能有與眾不同的美好經驗，</p>
                                        <p>徜徉和旅在此為您服務！</p>
                                   </div>
                         
                                   <button class="BtnStyle mt-5">了解更多</button>
                              </div>
                         </div>
                         </div>
                         </div>
                         </div>
                         <div class="space">
                              <div class="place_center">
                                   <h2>旅客回顧</h2>
                                   <div>
                                        <div class="feedback_space">
                                             <img class="feedback_img" src="" alt="">
                                             <div class="feedback_w">大阪</div>
                                             <p>內文</p>
                                        </div>
                                        <div class="feedback_space">
                                             <img class="feedback_img" src="" alt="">
                                             <div class="feedback_w">大阪</div>
                                             <p>內文</p>
                                        </div>
                                        <div class="feedback_space">
                                             <img class="feedback_img" src="" alt="">
                                             <div class="feedback_w">大阪</div>
                                             <p>內文</p>
                                        </div>
                                   </div>
                                   <div>
                                        <div class="feedback_space">
                                             <img class="feedback_img" src="" alt="">
                                             <div class="feedback_w">大阪</div>
                                             <p>內文</p>
                                        </div>
                                        <div class="feedback_space">
                                             <img class="feedback_img" src="" alt="">
                                             <div class="feedback_w">大阪</div>
                                             <p>內文</p>
                                        </div>
                                        <div class="feedback_space">
                                             <img class="feedback_img" src="" alt="">
                                             <div class="feedback_w">大阪</div>
                                             <p>內文</p>
                                        </div>
                                   </div>

               </div>
               </div>
               <footer>
                    <ul>
                         <li>行程方案</li>
                         <li>最新消息</li>
                         <li>聯絡我們</li>
                         <li>旅遊資訊</li>
                         <li>會員專區</li>
                    </ul>
                    <ul>
                         <li>行程方案</li>
                         <li>最新消息</li>
                         <li>聯絡我們</li>
                         <li>旅遊資訊</li>
                         <li>會員專區</li>
                    </ul>
                    <div>logo</div>
                    <p>文字</p>
                    <p>電話</p>
                    <p>地址</p>
               </footer>


</body>

</html>