<%- include('account.ejs') %>
    <%- include('../router/html/shoppingCart.html') %>
        <!-- <table>
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                <% userOrderInfo.forEach(order=> { %>
                    <tr>
                        <td>
                            <%= order.product_name %>
                        </td>
                        <td>
                            <%= order.quantity %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody> -->
        </table>