* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.infoPage {
    width: 400px; 
    position: absolute;
    right: 380px;
    top: 150px;
}

.container {
    float: right;
    right: 23%; 
    width: 500px; 
    height: 430px;
    overflow-y: auto;
}

.formDiv {
    display: grid;
    justify-content: center;
    align-items: center;
}

.titleh1 {
    text-align: center;
}

#name,
#identity,
#phone,
#email,
#address {
    height: 40px;
    width: 270px;
    border: 1px solid lightblue;
    justify-content: center;
    padding-left: 10px;
}

#male,
#female {
    border: 1px solid lightblue;
    justify-content: center;
    padding-left: 10px;
}

#text {
    font-weight: bolder;
}

.btnaccountinfo {
    margin-top: 10px;
    line-height: 2;
    width: 60px;
    margin-left: 60%;
    width: 70px;
    height: 45px;
    font-size: 15px;
    background-color: #ace5ed;
    border-radius: 5px;
    font-weight: bolder;
}

.btnaccountinfo:hover {
    background-color: #83C9D2;
}

@media screen and (max-width:768px) {
    .infoPage {
        padding-left: 5px;
        width: 60%;
    }

    #name,
    #identity,
    #phone,
    #email,
    #address {
        width: 250px;
    }
}

@media screen and (max-width:1000px) {
    .infoPage {
        right: 0;
        top: 100px;
    }

}
@media screen and (max-height:600px) {
    .container{
        height: 300px;
    }

}