* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #83C9D2;
}

#allthing {
    margin-top: 60px;
}



/* 左邊標題列 */

#intitle {
    position: absolute;
    display: inline-block;
    line-height: 2;
    box-sizing: border-box;

    margin-left: 5%;
    margin-right: 5%;

    font-weight: bolder;
    width: 100%;
    height: 100vh;

}

#intitle ul li {
    list-style: none;
}

#intitle ul li a:hover {
    color: #0eb4b4;
}


a {
    color: #F5F5F5;
    text-decoration: none;
}

/* 底部內容 */
#footerdown {
    position: relative;
    bottom: -500px;
    display: flex;
    float: left;
    margin-top: 50px;
    margin-left: 250px;
    padding-top: 3%;
}

#footerdown1 {
    margin-left: 50px;
    color: white;
}

#footerdown1 ul li {
    list-style: none;
}

#footerdown1 ul li a:hover {
    color: #0eb4b4;
}


/* 縮放設定 */
@media screen and (max-width:768px) {
    #footerdown {
        margin-left: 10px;
        bottom: -450px;

    }
}