.logging {
    position: absolute;
    width: 82%;
    height: 70vh;
    top: 100px;
    left: 300px;
}

.logging2 {
    position: relative;
    text-align: center;
    height: 100%;
    display: grid;
}

.logging3 {
    font-size: 22px;
}

.title1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    text-align: center;
    height: inherit;
}

.table1 {
    position: absolute;
    width: 85%;
    /* border-collapse: collapse; */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border: none;
    border-collapse: collapse;
    line-height: 2;
}

.logtitle {
    background-color: #83C9D2;
}

tr:nth-child(odd) td {
    background-color: rgb(228, 228, 228);
}

tr:nth-child(even) td {
    background-color: rgb(208, 246, 253);
}

/* --------- */
.red-text {
    color: red;
}

.black-text {
    color: black;
}

.pagetable {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}
.pagetable a {
    text-decoration: none;
}

.pagebtn {
    width: 80px;
    height: 30px;
    background-color: rgb(153, 237, 229);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    color: #000;
}

.pagebtn:hover {
    background-color: rgb(89, 182, 173);
}


@media screen and (max-width: 768px) {
    .shopping {
        height: 70vh;
    }

    .table1 {
        width: 100%;
        /* 表格寬度100%，以適應小螢幕 */
        overflow-y: auto;
        /* 在表格寬度大於螢幕時添加水平滾動 */
    }
}