* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loginPage {
    width: 400px; 
    position: absolute;
    right: 25%;
    top: 180px;
}

.container {
    float: right;
    right: 25%; 
    width: 100px; 
    height: 300px;
}

.textDiv,
.footerDiv {
    text-align: center;
}

.formDiv {
    display: grid;
    justify-content: center;
    align-items: center;
}

#username,
#password {
    height: 40px;
    width: 270px;
    border: 1px solid lightblue;
}

#text {
    font-weight: bolder;
}

.btnlogin {
    margin-top: 10px;
    line-height: 2;
    width: 60px;
    margin-left: 70%;
    background-color:#ace5ed;
    border-radius: 5px;
    font-weight: bolder;
}
.btnlogin:hover{
    background-color: #83C9D2;
}

.btnregister{
    border: none;
    font-weight: bolder;
    background-color: rgb(201, 237, 164);
}
.btnregister:hover{
    background-color: rgb(112, 142, 81);
}

.forgotPassword{
    margin-left: 45%;
}
.forgotPassword a {
    color: red;
}

@media screen and (max-width: 900px) {
    .loginPage {
        right: 0;
        top: 150px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .loginPage {
        right: 120px;
        top: 180px;
    }
}