<nav class="navBack">
     <form action="/logout" method="post">
          <input class="btn btn-info m-2 ms-4" type="submit" value="登出">
     </form>
     <div>
          <ul>
               <li><a href="/background/members">會員管理</a></li>
          </ul>
          <ul>
               <li><a href="/background/order">訂單管理</a></li>
          </ul>
          <ul>
               <li><a href="/background/itinerary">行程管理</a></li>
          </ul>
          <ul>
               <li><a href="/background/news">消息管理</a></li>
          </ul>
          <ul>
               <li><a href="/home#">回首頁</a></li>
          </ul>
     </div>
</nav>