<nav class="navBack">
     <form action="/backlogout" method="post">
          <input class="btn navBtn" type="submit" value="登出">
     </form>
     <div>
          <ul>
               <li><a href="/background/members">會員管理</a></li>
          </ul>
          <ul>
               <li><a href="/background/news">消息管理</a></li>
          </ul>
          <ul>
               <li><a href="/background/itinerary">行程管理</a></li>
          </ul>
          <ul>
               <li><a href="/background/order">訂單管理</a></li>
          </ul>
          <ul>
               <li><a href="/home#">回首頁</a></li>
          </ul>

          <a href="/background/newsContact" class="btn btn-primary rounded-circle navBtn-b"><img style="width: 28px;height: 40px; " src="/img/mail.svg" alt=""></a>
     </div>
</nav>