<footer>
     <div class="footdiv">
          <ul class="footerfont">
               <li><a href="#">行程方案</a></li>
               <li><a href="#">最新消息</a></li>
               <li><a href="#">聯絡我們</a></li>
               <li><a href="#">旅遊資訊</a></li>
               <li><a href="#">會員專區</a></li>
          </ul>
          <ul class="footerfont">
               <li><a href="#">行程比較</a></li>
               <li><a href="#">法規</a></li>
               <li><a href="#"></a></li>
               <li><a href="#">旅遊資訊</a></li>
               <li><a href="#">會員專區</a></li>
          </ul>

          <div class="footext">
               <div class="footlogo"></div>
               <p>電話：04 - 2355678</p>
               <p>地址：404台中市北區英才路126號1樓</p>
          </div>
     </div>


</footer>